.bg-primary{
  background-color: $color-primary;
}
.bg-light-grey{
  background-color: #edf0f3;
}
.bg-light-blue{
  background-color: #eff8ff;
}

$space-amounts: (1, 2, 3, 4, 5);

@each $space in $space-amounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .mb-#{$space} {
    margin-bottom: #{$space}rem;
  }
  .mt-#{$space} {
    margin-top: #{$space}rem;
  }
  .p-#{$space} {
    padding: #{$space}rem;
  }
  .pb-#{$space} {
    padding-bottom: #{$space}rem;
  }
  .pt-#{$space} {
    padding-top: #{$space}rem;
  }
}
