.button{
@include flex-direction(row);
@include about-font(16px, 600, $color-primary-light);
font-family: 'Lato', 'Mono'; ;
background-color: $color-primary;
max-height: 53px;
border-radius: 30px;
padding: 20px 26px 22px 29px;
line-height: 40px;
border: none;
cursor: pointer;
    @include hover(){
        opacity: 0.8;
    }
}

.button--transparent {
    background: transparent;
    border: 1px solid $color-primary-light;
}

.button--primary-light{
    color: $color-secondary-dark;
    background-color: $color-primary-light;
}
.button--large{
    max-height: 60px;
    font-size: 18px;
}